.Overlay {
    position: absolute;
    width: 220vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 1px;
    background: #732b6f;
    padding: 5px 15px 5px 15px;
    overflow-y: scroll;
    border-radius: 25px;
    border: 3px solid white;
}

.KontenContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220vh;
    text-align: justify;
    align-items: center;
    color: white;
}

.KontenContainer img {
    width: 150vh;
    margin: auto;
}

.XContainer {
    display: flex;
    justify-content: end;
}

.XContainer img {
    width: 15vh;
}

.KontenContainer h1 {
    background: #e452ac;
    padding: 20px;
    border-radius: 25px;
}
